@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100 m-0 p-0;
}
.image {
  filter: opacity(0.5) drop-shadow(0 0 0 rgb(156 163 175));
}
.image-user {
  filter: opacity(0.5) drop-shadow(0 0 0 rgb(31 41 55));
}
.image-right {
  filter: opacity(0.5) drop-shadow(0 0 0 rgb(255, 255, 255));
}
.bg-image-wrapper {
  background-image: url('./../public/background.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 30vh;
  border-radius: 1rem;
  border: none;
}
.bg-image-wrapper-inner {
  margin-top: -1.7%;
}

@media (max-width: 700px) {
  .bg-image-wrapper-inner {
    margin-top: -5%;
  }
}
